In [1]:
# Import libraries
import MySQLdb as db
import pandas as pd

In [2]:
# Establish a connection
connection = db.connect(
    host = 'localhost',
    user = 'root',
    password = '$herm@n024',
    database = 'pizza_sales'
)

In [3]:
print(connection)

<_mysql.connection open to 'localhost' at 0000016C30820EF0>

In [4]:
# query the data
query = 'SELECT * FROM pizza'
df = pd.read_sql(query,connection)

#close connection
connection.close()

C:\Users\Eben\AppData\Local\Temp\ipykernel_2000\701935869.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,connection)

In [5]:
# display the data
df.head(1000)

              id  date            time          name size     type  price
0    2015-000001  None 0 days 11:38:36      hawaiian    M  classic  13.25
1    2015-000002  None 0 days 11:57:40   classic_dlx    M  classic  16.00
2    2015-000002  None 0 days 11:57:40      mexicana    M   veggie  16.00
3    2015-000002  None 0 days 11:57:40      thai_ckn    L  chicken  20.75
4    2015-000002  None 0 days 11:57:40   five_cheese    L   veggie  18.50
..           ...   ...             ...           ...  ...      ...    ...
995  2015-000427  None 0 days 21:49:00   spinach_fet    L   veggie  20.25
996  2015-000428  None 0 days 22:05:00     calabrese    L  supreme  20.25
997  2015-000428  None 0 days 22:05:00   ital_cpcllo    S  classic  12.00
998  2015-000429  None 0 days 22:16:53    spicy_ital    M  supreme  16.50
999  2015-000430  None 0 days 22:46:13  green_garden    M   veggie  16.00

[1000 rows x 7 columns]

In [7]:
# Transform data by creating a new field for discount
df['Discount Price'] = df['price'] * 0.75

# create and save transformed data in a csv file
transformed_data = 'transformed_pizza_sales_data.csv'

df.to_csv(transformed_data,index=False)

In [8]:
# Load transformed data to cloud
#pip install google-cloud-storage
from google.cloud import storage

In [9]:
# Initialize a GCS Client
client = storage.Client()

C:\Users\Eben\AppData\Roaming\Python\Python311\site-packages\google\auth\_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [10]:
# Define the bucket and blob
bucket_name = 'test_msql_pl2'
destination_blob_name = 'transformed_pizza_sales_data.csv'
source_file_name = transformed_data

bucket = client.bucket(bucket_name)
blob = bucket.blob(destination_blob_name)

# upload file to GCS
def upload_file():
    blob.upload_from_filename(source_file_name)
    
if upload_file:
    print(f'{source_file_name} upload successfully...')
else:
    print(f'{source_file_name} encountered an error during upload..')

transformed_pizza_sales_data.csv upload successfully...